{% extends "layout.html" %}
{% block title %}
  <title>Building Conversation | Harvard</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div class="hidden" id="buildingID">{{ building.id }}</div>
{% endblock %}

{% block main %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-4 gx-0 position-fixed" style="height: 100%">
      <!-- logo bar -->
      <div class="row gx-0 gradient align-items-center" style=" width: 100%; padding-top: 10px; padding-bottom: 10px;">
        <div class="col-3">
          <a href="/">
            <img src="static/favicon.png" class="img-fluid" style="width: 100px"/>
          </a>
        </div>
        <div class="col align-middle">
          <h1 style="color: black; font-size: 1.8rem; font-weight: 800;">Building Conversation<br>X Harvard<br></h1>
        </div>
      </div>
      <!-- map -->
      <div id="map" class="col">
      </div>
    </div>
  <div class="col">
    <div class="row" style="height: 100%;">
    <!--spacer -->
    <div class="col-4"></div>
    <div class="col" style="padding:50px;">
    <!-- building info and editing panel -->
    <div class="row" style="padding-bottom:20px;">
      <div class="col">
        <h1 style="font-weight: 800;">
          {{ building.name }}
        </h1>
      </div>
      <div class="col-1">
        <a href="/"><img src="https://www.flaticon.com/svg/static/icons/svg/60/60793.svg" style="width: 20px;"/></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <img src= '{{building.image}}' class="imgblock">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p><b>Address: </b>{{ address.address }}, {{ address.city }}, {{ address.state }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
          <form id = "submitEdit" action="/edit" method="POST">
            <input name="cap" id = "cap" value = "" style="display:none" />
            <div class="form-group row align-items-center justify-content-center">
              <!-- allow new cover photo url-->
              <label class="col-sm-2 text-capitalize" for="image">Cover Photo</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="image" id = "image" value= "{{building.image}}"/>
              </div>
            </div>
            <!-- iterate through data -->
            {% for field in fields %}
                {% if field != 'building_id' and field != 'usage' and field != 'construction' %}
                  <div class="form-group row align-items-center justify-content-center">
                    <label class="col-sm-2 text-capitalize" for="{{ field }}">{{ field }}</label>
                    <div class="col-sm-10">
                    {% if info[field] != None %}
                      <input class="form-control" name = "{{ field }}" id="{{ field }}" value="{{ info[field]}}">
                    {% else %}
                      <input class="form-control" name = "{{ field }}" id="{{ field }}">
                    {% endif %}
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
            <!-- allow user to select exsiting construction types in the database-->
            <div class="form-group row align-items-center justify-content-center">
              <div class="col-sm-2">
                <label for="construction">Construction</label>
              </div>
              <div class="col-sm-10">
              <!-- allow additional manual input for other construction types-->
              <select class="form-select" aria-label="construction" name = "construction" onchange='check_other(this.value);'>
                {% for type in constructions %}
                <!-- highlight current construction type -->
                  {% if type.construction == info.construction %}
                    <option selected id="{{ type.construction }}" value = "{{ type.construction }}">{{type.construction}}</option>
                  {% else %}
                    <option id="{{ type.construction }}" value = "{{ type.construction }}"> {{ type.construction }}</option>
                  {% endif %}
                {% endfor %}
                <option value="other">other</option>
              </select>
              <!-- other construction type -->
              <input type="text" id="construction_other" style='display:none; margin-top: 10px'/>
              </div>
            </div>
            <div class="form-group row align-items-center justify-content-center">
              <div class="col-sm-2">
                <label for="usage">Usage</label>
              </div>
              <div class="col-sm-10">
                <!-- iterate through usage types from the database -->
              <select class="form-select" aria-label="usage" name="usage" onchange='check_other(this.value);'>
                {% for i in usage %}
                  <!-- highlight current usage -->
                  {% if i.code == info.usage %}
                    <option selected id="{{ i.code }}" value = "{{ i.code }}">{{i.description}}</option>
                  {% else %}
                  <option id="{{ i.code }}" value = "{{ i.code }}"> {{ i.description }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              </div>
            </div>
            <hr>
            <!-- Create the editor container -->
            <input id="buffer" value="{{description.description}}" style="display:none">
            <div class="container-fluid">
              <div class"row" style="height:300px; margin-bottom: 50px">
                <div class="form-group" id="editor">
                </div>
              </div>
            </div>
            <div class="form-group row" style="padding-top:10px">
              <div class="col-sm-10"></div>
              <div class="col-sm-1">
                <button id="submit_btn" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  //show additional input field if value is other
  function check_other(val){
   var input=document.getElementById('construction_other');
  if(val=='other'){
     input.style.display='block';
  }
  else{
     input.style.display='none';
  }
  }

$('#submit_btn').on('click', () => {
    // Get HTML content from Rich Text Editor
    var html = quill.root.innerHTML;
    // Copy HTML content in hidden form
    document.getElementById('cap').value = html;
    // Post form to Flask
    document.getElementById('submitEdit').submit();
});
    //put current information into Rich Text Editor as Rich Text
    document.getElementById('editor').innerHTML = document.getElementById('buffer').value;
</script>
<!-- load Quill Rich Text Editor -->
<script src="static/RichTextEditor.js"></script>
<!-- load map -->
<script src="static/edit.js"></script>
{% endblock %}
